body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

.container {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0); /* Removed quotes around '0deg' */
    position: relative;
    transition: transform 0.7s;
}

.container span {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    transform: rotateY(calc(var(--i)*45deg))translateZ(400px);
}
.container span img{
    position: absolute;left: 0;
    top: 0;
    width: 100%;
}
.btncontainer{
 position: relative;
 justify-content: space-between;
 width: 80%;
 text-align:center;


}
.btn{
    position:absolute;
    bottom: -18px;
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.btn:hover{
    filter: brightness(1.5);
}
#prev{
    left:20%
}#next{
    right:20%
}